:root {
  font-family: var(--font-family-base);
  color: var(--color-blue-60);
  background: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* { box-sizing: border-box; }
html { scroll-behavior: smooth; }
body { min-width: 320px; margin: 0; }
button, input { font-family: inherit; }
#root { min-height: 100svh; }
